@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul, ol{ 
    list-style: none;
}
img, video, iframe{
    vertical-align: middle;
}
body{
    min-width: 1500px;
    font-family: 'Pretendard';
    font-size: 14px;
    line-height: 24px;
    color: #000;
}
body { 
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  /* 아래의 모든 코드는 영역::코드로 사용 */
  body::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}
body::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #111111; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: rgba(53, 53, 53, 0.1);  /*스크롤바 뒷 배경 색상*/
}

/*top*/
/*top*/
#top_box{
    border-bottom: 2px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    transition: top 0.2s;
}
#top{
    width: 1432px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#top ul{
    display: flex;
} 
#top ul li{
    padding-right: 30px;
}
#top ul li:last-child{
    padding-right: 0;
}
.logo{
    padding: 20px 0;

}
.search{
    width: 570px;
    height: 55px;
    border: 3px solid #000;
    border-radius: 29px;
    background-color: #fff;
    padding: 20px;
    padding-left: 30px;
    outline-style: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-image: url(../images/icon_search.png);
    background-repeat: no-repeat;
    background-position: 97% center;
}

.nav-up {
    top: -116px !important;
    /*헤더 높이와 같이*/
  }

.nav-down {
top: 0px !important;
}

/*header*/
#header{
    border-bottom: 2px solid #333;
    padding-top: 116px;
}
.header_inner{
    width: 1432px;
    margin: 0 auto;
    position: relative;
}
.icon_category{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.header_inner ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_inner ul li{
    font-size: 20px;
    padding: 18px 85px;
    font-weight: 800;
    display:inline-block; 
    margin:0;
    text-transform:uppercase;
}

.header_inner ul li:after {
  display:block;
  content: '';
  border-bottom: solid 2px #000;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.header_inner ul li:hover:after {
    transform: scaleX(1); 
}
.header_inner ul li a:hover:after {
    color: #333;
}
.header_inner ul li:after{  transform-origin:  0% 50%; }


/*my_booklog*/
#my_booklog{
    background-color: #FFFACD;
    padding-top: 150px;
    padding-bottom: 150px;
}
.my_booklog_inner{
    width: 1432px;
    margin: 0 auto;
}
h1{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 70px;
    font-size: 40px;
    font-weight: 700;
}
h2{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 70px;
    text-align: center;
}
.my_booklog_inner>ul{
    display: flex;
    justify-content: space-between;
}
.calendar_img{
    width: 700px;
    height: 855px;
    background-image: url(../images/booklog_calendar.png);
    background-repeat: no-repeat;
}
.mylog_inner{
    width: 700px;
    height: 855px;
    background-color: #fff;
    padding: 35px 35px;
    box-sizing: border-box;
}
.mylog_inner ul{
    display: flex;
    justify-content: space-around;
}
.icon_name{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.mylog_inner h3{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
    padding-top: 45px;
}
.tabs{
    position: relative;
}
.tabs .week1{
    position: absolute;
    top: 256px;
    left: 308px;
}
.tabs .week2{
    position: absolute;
    top:370px;
    left: 560px;
}
.tabs .week3{
    position: absolute;
    top:483px;
    left: 392px;
}
.tabs .week4{
    position: absolute;
    top:597px;
    left: 57px;
}
.tabs .week5{
    position: absolute;
    top:711px;
    left: 225px;
}
/*
.all_books{
    border: 1px solid #2E2E2E;
    width: 630px;
    height: 519px;
}
*/
.tab_container{
    border: 1px solid #CBCBCB;
    width: 630px;
    height: 519px;
}



/*comment*/
#comment{
    padding: 150px 0;
}
.comment_inner{
    width: 1432px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.comment_box{
    border: 1px solid #CBCBCB;
    width: 410px;
    height: 810px;
    border-radius: 30px;
}

.comment_img_1{
    background-image: url(../images/booklog_recom_book_bg_1.png); 
    background-repeat: no-repeat;    
    position: relative;
    width: 410px;
    height: 410px;
}
.comment_img_2{
    background-image: url(../images/booklog_recom_book_bg_2.png); 
    background-repeat: no-repeat;
    position: relative;
    width: 410px;
    height: 410px;
}
.comment_img_3{
    background-image: url(../images/booklog_recom_book_bg_3.png); 
    background-repeat: no-repeat;
    position: relative;
    width: 410px;
    height: 410px;
}
.comment_img_1 img, .comment_img_2 img, .comment_img_3 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.comment_text{
    height: 110px;
    box-sizing: border-box;
    line-height: 1.7;
    padding: 15px 0;
    padding-left: 20px;
    border-bottom: 1px solid #CBCBCB;

}
.c_genre{
    font-size: 12px;
    font-weight: 500;
    display: block;
    color: #767676;
}
.c_title{
    font-size: 20px;
    font-weight: 600;
    display: block;
}
.c_writer{
    font-size: 13px;
    font-weight: 500;
    display: block;
    color: #595959;
}
.comment_swiper{
    width: 410px;
    height: 290px;
}
.comment_slide{
    padding: 22px 22px;
    box-sizing: border-box;
}

.comment_slide ul{
    display: flex;
    position: relative;
    padding-bottom: 90px;
    box-sizing: border-box;
    height: 80px;
}
.comment_slide ul:last-child{
    padding-bottom: 4px;
}

.comment_slide ul li:first-child{
    padding-right: 16px;
}
.c_name{
    font-size: 13px;
    font-weight: 600;
    display: block;
    color: #242424;
}
.c_sentence{
    font-size: 13px;
    font-weight: 500;
    color: #555555;
    display: block;
    text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-word;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            /*원하는 라인 수*/
            -webkit-box-orient: vertical
}
.c_star{
    position: absolute;
    top: 0;
    right: 0;
    width: 73px;
    height: 13px;
    
}


/*collect*/
#collect{
    background-color: antiquewhite;
    margin-bottom: 150px;
    padding: 150px 0;
}
#collect h1{
    padding-top: 0;
}
.collect_inner{
    width: 1432px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.sentence_box_1{
    background-image: url(../images/booklog_collect_bg_1.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 445px;
    padding: 25px;
    box-sizing: border-box;
}
.sentence_box_2{
    background-image: url(../images/booklog_collect_bg_2.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 445px;
    padding: 25px;
    box-sizing: border-box;
}
.sentence_box_3{
    background-image: url(../images/booklog_collect_bg_3.png);
    background-repeat: no-repeat;
    width: 445px;
    height: 445px;
    padding: 25px;
    box-sizing: border-box;
}
.sentence_box_1 ul, .sentence_box_2 ul, .sentence_box_3 ul{
    display: flex;
    align-items: center;
    line-height: 100%;
}
.sentence_box_1 ul li:first-child, .sentence_box_2 ul li:first-child, .sentence_box_3 ul li:first-child{
    padding-right: 12px;
}
.sentence_box_1 ul li:last-child, .sentence_box_2 ul li:last-child, .sentence_box_3 ul li:last-child{
    border-left: 1px solid #2E2E2E;
    padding-left: 8px;
    margin-left: 8px;
    list-style: 0;
}
.sentence_text{
   padding: 117px 25px;
   padding-bottom: 0;
   font-weight: 400;
   font-size: 15px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.sentence_text p{
    width: 345px;
    text-align: center;
}
.s_book_page{
    display: block;
    padding-top: 35px;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
}
.s_name{
    font-size: 15px;
    font-weight: 500;
    color: #333333;
}
.s_date{
    font-weight: 400;
    color: #767676;
}
.s_book_page a{
    color: #2E2E2E;
}

/*footer*/
#footer{
    border-top: 1px solid #e4e4e4;
}
.footer_inner1{
    width: 1432px;
    margin: 0 auto;    
    padding: 50px 0;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
}
.footer_inner2{
    display: flex;

    justify-content: space-between;
}
.f_text_box{
    display: flex;
    padding-bottom: 50px;
}
.f_left_text{
    padding-right: 191px;
}
.f_left_text a{
    display: block;
}
.f_pad{
    padding-right: 15px;
}



.top_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 60px;
    z-index: 99;
    transition: all 0.5s;
}
.top_btn:hover{
    transform: rotate(-20deg);
}    