@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul, ol{ 
    list-style: none;
}
img, video, iframe{
    vertical-align: middle;
}
body{
    min-width: 1500px;
    font-family: 'Pretendard';
    font-size: 14px;
    line-height: 24px;
    color: #000;
}
body { 
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  /* 아래의 모든 코드는 영역::코드로 사용 */
  body::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}
body::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #111111; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: rgba(53, 53, 53, 0.1);  /*스크롤바 뒷 배경 색상*/
}

/*top*/
#top_box{
    border-bottom: 2px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    transition: top 0.2s;
}
#top{
    width: 1432px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#top ul{
    display: flex;
} 
#top ul li{
    padding-right: 30px;
}
#top ul li:last-child{
    padding-right: 0;
}
.logo{
    padding: 20px 0;

}
.search{
    width: 570px;
    height: 55px;
    border: 3px solid #000;
    border-radius: 29px;
    background-color: #fff;
    padding: 20px;
    padding-left: 30px;
    outline-style: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-image: url(../images/icon_search.png);
    background-repeat: no-repeat;
    background-position: 97% center;
}

.nav-up {
    top: -116px !important;
    /*헤더 높이와 같이*/
  }

.nav-down {
top: 0px !important;
}

/*header*/
#header{
    border-bottom: 2px solid #333;
    padding-top: 116px;
}
.header_inner{
    width: 1432px;
    margin: 0 auto;
    position: relative;
}
.icon_category{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.header_inner .gnb>li:after {
  display:block;
  content: '';
  border-bottom: solid 2px #000;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.header_inner .gnb>li:hover:after {
    transform: scaleX(1); 
}
.header_inner .gnb>li a:hover:after{
    color: #333;
}
.header_inner .gnb>li:after{  transform-origin:  0% 50%; }

#header .gnb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_inner .gnb>li {
    font-size: 20px;
    padding: 18px 85px;
    font-weight: 800;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    position: relative;
}

.header_inner .sub {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px; /* 박스 크기 유지 */
    background-color: #000;
    display: none;
    z-index: 30;
    padding: 30px 0;
}

.header_inner .sub>li {
    position: relative;
    text-align: center;
    padding: 10px 0;
}

.header_inner .sub>li a {

    display: inline-block; /* a 태그를 inline-block으로 설정 */
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-decoration: none; /* 기본 밑줄 제거 */
    position: relative; /* 포지션을 상대적으로 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
}

.header_inner .sub>li a::after {
    content: '';
    position: absolute;
    width: 0; /* 초기 밑줄 길이 */
    height: 1px; /* 밑줄 두께 */
    bottom: 0; /* 텍스트 아래에 위치 */
    left: 0;
    background-color: #fff; /* 밑줄 색상 */
    transition: width 250ms ease-in-out; /* 밑줄 애니메이션 효과 */
}

.header_inner .sub>li a:hover::after {
    width: 100%; /* 호버 시 텍스트 길이만큼 밑줄 확장 */
}


/*whole_product*/
#whole_product{
    width: 1432px;
    margin: 0 auto;
    padding: 150px 0;
}
h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 70px;
}
.whole_inner{
    display: flex;
    justify-content: space-between;
}
.option ul{
    display: flex;
    padding-bottom: 20px;
}
.option ul li{
    padding-right: 20px;
}
.option ul li a{
    font-size: 13px;
    font-weight: 500;
}
#whole_product ul{
    display: flex;
    flex-wrap: wrap;
}
#whole_product>ul li{
    padding-bottom: 50px;
    padding-right: 51px;
}
#whole_product>ul li img{
    padding-bottom: 23px;
}
.p_made{
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    padding-bottom: 17px;
}
.p_name a{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 23px;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.p_price{
    font-size: 18px;
    font-weight: 600;
}



/*footer*/
#footer{
    border-top: 1px solid #e4e4e4;
}
.footer_inner1{
    width: 1432px;
    margin: 0 auto;    
    padding: 50px 0;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
}
.footer_inner2{
    display: flex;

    justify-content: space-between;
}
.f_text_box{
    padding-left: 50%; 
    display: flex;
    padding-bottom: 50px;
}
.f_left_text{
    padding-right: 191px;
}
.f_left_text a{
    display: block;
}
.f_pad{
    padding-right: 15px;
}
.top_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 60px;
    z-index: 99;
    transition: all 0.5s;
}
.top_btn:hover{
    transform: rotate(-20deg);
}              

